<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingge.springboot.mapper.ClazzGradRequireScoreMapper">

    <select id="ShowClazzGradRequireScore" resultType="com.qingge.springboot.entity.ClazzGradRequireScore">
        select clazz_grad_require_score.point_id as pointId,
               clazz_grad_require_score.score as score,
               point.`name` as pointName,
               point.description as description
        from clazz_grad_require_score
                 left join point
                           on clazz_grad_require_score.point_id = point.id
        where clazz_grad_require_score.clazz_id = #{id}
    </select>
    <select id="FindClazzPoint" resultType="com.qingge.springboot.entity.Point">
        select clazz_grad_require_score.point_id as id,
               point.`name` as name
        from clazz_grad_require_score
                 left join point
                           on clazz_grad_require_score.point_id = point.id
        where clazz_grad_require_score.clazz_id = #{id}
    </select>
</mapper>
