<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingge.springboot.mapper.StudentCourseGoalScoreMapper">

    <resultMap id="CGSMap" type="com.qingge.springboot.entity.StudentCourseGoalScore">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <!-- <result column="score" property="score"/>-->
        <!--<result column="create_time" property="createTime"/>-->
    </resultMap>

    <select id="findPage" resultMap="CGSMap">
        select distinct student_course_goal_score.student_id,
        student_course_goal_score.course_id,
        student.name as studentName,
        student.code as studentCode,
        course.name as courseName
        /*course_goal_weight.name as courseGoalWeightName*/

        from student_course_goal_score
        left join student
        on student_course_goal_score.student_id = student.id
        left join course
        on student_course_goal_score.course_id = course.id
        /*left join course_goal_weight
        on student_course_goal_score.course_goal_weight_id = course_goal_weight.id*/
        <where>
            and student_course_goal_score.teacher_id = #{teacherId}
            <if test="name != null and name != ''">
                and student.name like concat('%', #{name},'%')
            </if>
            <if test="courseName != null and courseName != ''">
                and course.name like concat('%', #{courseName},'%')
            </if>
        </where>
    </select>



    <select id="findPagePlus" resultType="com.qingge.springboot.entity.CourseGoalWithScore">
        SELECT distinct
                        s.score as courseGoalScore,
                        c.`name` as courseGoalName

        from student_course_goal_score s
        LEFT JOIN course_goal_weight c
        ON s.course_goal_id = c.id
        WHERE s.student_id = #{studentId} and s.course_id = #{courseId}
    </select>

    <select id="findPagePlusX" resultType="com.qingge.springboot.entity.CourseGoalWithScore">
        select
            score.score as originalScore,
            check_teacher_weight.`name` as ctwName
        from score
                 LEFT JOIN check_teacher_weight
                           on score.check_teacher_weight_id = check_teacher_weight.id
        where  score.student_id = #{studentId} and score.course_id = #{courseId}
    </select>


    <select id="selectByIds" resultType="java.lang.Double">
        select student_course_goal_score.score
        from student_course_goal_score
        where student_course_goal_score.clazz_id = #{clazzId} and student_course_goal_score.course_id = #{courseId}
    </select>
    <select id="findOneCourseGoalInfo" resultType="com.qingge.springboot.entity.StudentCourseGoalScore">
        select student_course_goal_score.score as score,
               student_course_goal_score.student_id as studentId
        from student_course_goal_score
        where student_course_goal_score.course_goal_id = #{courseGoalId} and student_course_goal_score.course_id = #{courseId} and student_course_goal_score.clazz_id = #{clazzId}
    </select>
    <select id="findAllPage" resultType="com.qingge.springboot.entity.StudentCourseGoalScore">
        select distinct student_course_goal_score.student_id,
        student_course_goal_score.course_id,
        student.name as studentName,
        student.code as studentCode,
        course.name as courseName
        /*course_goal_weight.name as courseGoalWeightName*/

        from student_course_goal_score
        left join student
        on student_course_goal_score.student_id = student.id
        left join course
        on student_course_goal_score.course_id = course.id
        /*left join course_goal_weight
        on student_course_goal_score.course_goal_weight_id = course_goal_weight.id*/
        <where>
            <if test="name != null and name != ''">
                and student.name like concat('%', #{name},'%')
            </if>
            <if test="courseName != null and courseName != ''">
                and course.name like concat('%', #{courseName},'%')
            </if>
        </where>
    </select>


</mapper>
